.counter {
  // display: flex;
  // justify-content: center;
  .title {
    color: rgb(25, 0, 255);
    font-size: 60px;
    margin: 0;
    margin-bottom: 20px;
  }
  .buttons {
    //margin-top: 30px;
    width: 240px;
    margin: 0 auto;
    display: flex;
    //justify-content: center;
    justify-content: space-between;
    .button {
      width: 70px;
      height: 30px;
      &:hover {
        background-color: rgb(121, 115, 115);
        color: #fff;
      }
    }
    #inc {
      border: 1px solid rgb(137, 135, 233);
      color: rgb(59, 45, 192);
      &:hover {
        background-color: rgb(72, 70, 230);
        color: #fff;
      }
    }
    #dec {
      border: 1px solid rgb(37, 37, 34);
      color: rgb(46, 45, 12);
      &:hover {
        background-color: rgb(228, 228, 72);
        color: #000;
      }
    }
  }
}
