.counter {
  text-align: center;
  .title {
    color: blue;
  }
  .buttons {
    display: flex;
    justify-content: center;
    .button {
      width: 100px;
      height: 30px;
      font-weight: bold;
      margin: 2px;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
